<!--<i>ImplementMe: bot.Client.CurrentUser.GetAvatarUrl(DSharpPlus.ImageFormat.WebP, 2048)-->
<h1>{bot.Name}</h1><br>
<p><i>{bot.Onlineusers}</i> of <i>{bot.Totalusers}</i> Members online in <i>{bot.Client.Guilds.Count}</i> servers</p>

{ botId: 9, name: "Omnibot", serverCount: 0, memberCount: 0, onlineMemberCount: 0, avatarUrl: "", coreVer: "" }