body {
    margin: 0;
}

@font-face {
    font-family: 'Geo';
    font-style: normal;
    font-weight: 400;
    src: local('Geo'), local('Geo-Regular'), url(https://fonts.gstatic.com/s/geo/v9/CSRz4zRZluflKHpn.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #222;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Geo', sans-serif;
    font-size: 25px
}

#navbar li a:hover {
    background-color: #111;
}